body {
	background-image: url(back.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.grad {
	background-image: linear-gradient(to right, #f5f5eb, #c8c8cd);
	padding: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 25;
}

.logo {
	width: 527px;
	height: 74px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 0px;
}

.head {
	color: #828282;
	display: inline;
	font-family: courier new;
	font-weight: bold;
	font-size: 50px;
	margin: 0px;
	position: absolute;
	left: 90px;
}

.link {
	float: right;
	/*color: #7f7f7f;*/
	color: #404040;
	font-family: courier new;
	font-weight: bold;
	font-size: 20px;
	margin: 15px;
	padding: 0px;
}

