body {
	background-image: linear-gradient(to right, #7f9faf, #8f8fdf);
	background-attachment: fixed;
}

div.grad {
	background-image: linear-gradient(to right, #f5f5eb, #c8c8cd);
	padding: 15px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 25;
}

img.logo {
	width: 100px;
	height: 100px;
	display: inline;
	position: relative;
	top: 5px;
	left: 0px;
}

p.head {
	color: #828282;
	display: inline;
	font-family: courier new;
	font-weight: bold;
	font-size: 50px;
	margin: 0px;
	position: relative;
	left: 5px;
}

a.link {
	float: right;
	color: #505050;
	font-family: courier new;
	font-size: 20px;
	text-decoration: none;
	margin: 15px;
	padding: 0px;
}

a:hover {
	font-weight: bold;
}

span.select {
	float: right;
	color: #000000;
	font-family: courier new;
	font-weight: bold;
	font-size: 20px;
	margin: 15px;
	padding: 0px;
}

div.blogblock {
	background-color: #ffffff;
	padding: 15px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
}

p.bloghead {
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
}

p.blogdate {
	margin: 0px;
	font-size: 13px;
}

p.blogpost {
	margin: 0px;
	overflow-wrap: break-word;
}
